@import-normalize;

:root,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

button {
  font: inherit;
}

:root {
  --light-color: 220 3% 97%;
  --dark-color: 231 42% 28%;
  --primary-color: 230 34% 46%;
  height: -webkit-fill-available;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(var(--light-color));
  color: hsl(var(--dark-color));
  height: 100vh;
  height: -webkit-fill-available;
  flex-direction: column;
}

.btn {
  border: 1px solid hsl(var(--primary-color));
  background-color: hsl(var(--light-color));
  color: var(--dark-color);
  font-weight: 500;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.btn--small {
  font-size: 0.9rem;
  padding: 5px 15px;
  border-radius: 8px;
}

.btn--big {
  font-size: 1.1rem;
  border-radius: 15px;
  padding: 15px 35px;
}

.btn--primary {
  border: none;
  background-color: hsl(var(--primary-color));
  color: hsl(var(--light-color));
}

.btn--primary:hover {
  background-color: hsl(var(--primary-color) / 0.9);
}

/* TODO: :D this feels 'hacky' try to find better solution */
body,
#root,
.sqs,
.qs {
  display: flex;
}

#root,
.sqs,
.qs {
  flex: 1;
}

.sqs,
.qs {
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  background-attachment: fixed, fixed;
}

/* START QUIZ SCREEN */

.sqs {
  align-items: center;
  background-image: url('./images/sqs-blob-top.png'),
    url('./images/sqs-blob-bottom.png');
  padding: 15px;
}

.sqs--title {
  font-family: 'Karla', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.sqs--description {
  text-align: center;
  margin-bottom: 30px;
}

/* QUIZ SCREEN */

.qs {
  background-image: url('./images/qs-blob-top.png'),
    url('./images/qs-blob-bottom.png');
  padding: 20px;
  gap: 20px;
}

.qs--results .question--answer {
  pointer-events: none;
}

.qs--results .question--answer:not(.question--answer_correct) {
  opacity: 0.5;
}

.qs--results_notification {
  font-weight: bold;
  text-align: center;
}

.qs--button {
  align-self: center;
}

.questions {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #dbdef0;
  padding: 20px 0;
}

.question--title {
  font-weight: bold;
}

.question--answers {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.question--answer {
  flex: 1 1 100%;
}

@media screen and (min-width: 450px) {
  .question--answer {
    flex: 0 0 auto;
  }
}

.question--answer_selected {
  background-color: #d6dbf5;
  border-color: #d6dbf5;
}

.question--answer_correct {
  background-color: #94d7a2;
  border-color: #94d7a2;
}

.question--answer_incorrect {
  background-color: #f8bcbc;
  border-color: #f8bcbc;
}

.loading-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(var(--light-color));
  display: flex;
  justify-content: center;
  align-items: center;
}
